span:hover {
    opacity: 0.5;
  }

  .animate{
    animation-name: abc;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }
  

@keyframes abc {
  0%   {color: black;}
  25%  {color: red;}
  50%  {color: yellow;}
  75%  {color: red;}
  100% {color: yellow;}
  }

.class3{
  
    background-color:#020647;
    font-size: 20px;font-weight: 700;
    padding: 30px;
}
.class4{
 
padding :0px 30px;
   
}

.class5{
  width: 100%;
  height: 7vh;
}
.class6{
  background-color: #E9191A;
}

